


{% if __SELF__.redirect_url %}
    <meta http-equiv="refresh" content="0; url={{__SELF__.redirect_url}}" />
{% endif %}

{% if __SELF__.seo_title %}
    <title>{{__SELF__.seo_title | generateTitle }}</title>
{% else %}
    <title>{{ __SELF__.title | generateTitle }}</title>
{% endif %}

{% if __SELF__.seo_description %}
    <meta name="description" content="{{__SELF__.seo_description}}">
{% endif %}

{% if __SELF__.seo_keywords %}
    <meta name="keywords" content="{{__SELF__.seo_keywords}}">
{% endif %}

{% if __SELF__.canonical_url %}
    <link rel="canonical" href="{{__SELF__.canonical_url}}" />
{% else %}
    {{ '' | generateCanonicalUrl}}
{% endif %}

    <meta name="robots" content="{{__SELF__.robot_index}},{{__SELF__.robot_follow}}">

{{ ''|otherMetaTags|raw }}


{% if __SELF__.ogTitle %}
<meta property="og:title" content="{{ __SELF__.ogTitle }}" />
{% endif %}

{% if __SELF__.ogUrl %}
<meta property="og:url" content="{{ __SELF__.ogUrl }}" />
{% endif %}

{% if __SELF__.ogSiteName %}
<meta property="og:site_name" content="{{ __SELF__.ogSiteName }}" />
{% endif %}

{% if __SELF__.ogDescription %}
<meta property="og:description" content="{{ __SELF__.ogDescription }}" />
{% endif %}

{% if __SELF__.ogFbAppId %}
<meta property="fb:app_id" content="{{ __SELF__.ogFbAppId  }}" />
{% endif %}

